@model IEnumerable<Graubakken_Filmsjappe.Models.Sjanger>

@{
    ViewBag.Title = "Sjangere";
}

<h2>Sjangere</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sjanger)
        </td>
    </tr>
}

</table>
