@model List<Graubakken_Filmsjappe.Models.Sjanger>

@{
    ViewBag.Title = "Sjangere";
}

<h2>Sjangere</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <span data-toggle="collapse" style="cursor: pointer" data-target="#@item.id">@Html.DisplayFor(modelItem => item.sjanger)</span>
            <div class="collapse" id="@item.id">
                @foreach (var film in item.Filmer)
                {
                    <p>@film.Navn</p>
                }
            </div>
        </td>
    </tr>
}

</table>
