@model List<Graubakken_Filmsjappe.Models.Sjanger>

@{
    ViewBag.Title = "Sjangere";
}

<h2>Sjangere</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <span data-toggle="collapse" style="cursor: pointer" data-target="#@item.id">@Html.DisplayFor(modelItem => item.sjanger)</span> <span class="badge">@item.antall</span>
            <div class="collapse" id="@item.id">
                <div class="well" style="background-color: #1e1e1e">
                    @foreach (var film in item.Filmer)
                    {
                        <p>@film.Navn</p>
                    }
                </div>
            </div>
        </td>
    </tr>
}

</table>
