<div id="skuespillerModal" class="modal fade" style="color: #242424">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><span id="skuespillerNavn"></span></h4>
            </div>
            <div class="modal-body">
                <p>SkuespillerInformasjon:</p>
                <div id="modalContent">

                </div>
                <div id="filmer">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>